body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  padding: 20px;
}

h1, h2 {
  color: #2a9d8f;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

img {
  border-radius: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #007acc;
}

a:hover {
  text-decoration: underline;
}
